In [3]:
import os
import pandas as pd

In [125]:
FOLDER = "irace_experiments"
DIR = os.listdir(FOLDER)

In [131]:
dfs = []
for excel in DIR:
    name, Q, n = excel.rstrip(".xlsx").split(" ")
    Q = Q[2:]
    n = n[2:]
    df = pd.read_excel(f"{FOLDER}/{excel}")
    df["nombre_experimento"] = name
    df["Q"] = int(Q)
    df["n"] = int(n)
    df["codigo"] = df["name"] +"-"+ n +"-"+ Q
    dfs.append(df)
df = pd.concat(dfs)
# df.index = ["Q", "n"]

In [127]:
# pivot = df.pivot_table(values= ["min", "avg", "t_avg"],
#                         index= ["name"],
#                         columns= 'nombre_experimento')
# pivot.head()

In [128]:
# df[(df.Q == 5) & (df.n == 100)].set_index(["name", "nombre_experimento"]).unstack(level = -1)

In [129]:
# df_indexs = df.set_index(["n","Q"])
# df100 = df_indexs.loc[100]
# df100_q5 = df100.loc[5]
# bks = df100_q5.groupby("name").min().reset_index()[["name", "min"]]
# bks.columns = ["name", "bks"]
# df100_q5 = df100_q5.merge(bks, how = "left", on = "name")
# df100_q5["gap_min"] = (df100_q5["min"]- df100_q5["bks"]) / df100_q5["bks"]
# df100_q5["gap_avg"] = (df100_q5["avg"]- df100_q5["bks"]) / df100_q5["bks"]
# df100_q5.set_index(["nombre_experimento","name"], inplace= True)

In [132]:
bks = df[["min","codigo"]].groupby("codigo").min()
bks = bks.reset_index()
bks.columns = ["codigo","bks"]
df_bks = df.merge(bks, how = "left", on ="codigo")
df_bks["gap_min"] = (df_bks["min"]- df_bks["bks"]) / df_bks["bks"]
df_bks["gap_avg"] = (df_bks["avg"]- df_bks["bks"]) / df_bks["bks"]
df_bks

,name,min,avg,t_avg,nombre_experimento,Q,n,codigo,bks,gap_min,gap_avg
0,RC201,818.332212,818.332212,45.001041,conf1,10,100,RC201-100-10,817.357964,1.191947e-03,1.191947e-03
1,RC204,710.135835,714.846852,45.001242,conf1,10,100,RC204-100-10,710.135835,0.000000e+00,6.633966e-03
2,RC206,782.697840,783.295050,45.001001,conf1,10,100,RC206-100-10,777.307156,6.935075e-03,7.703381e-03
3,C205,672.894037,677.227143,45.069304,conf1,10,100,C205-100-10,669.366684,5.269687e-03,1.174313e-02
4,RC207,758.039662,758.039662,45.000834,conf1,10,100,RC207-100-10,758.039662,1.499748e-16,1.499748e-16
...,...,...,...,...,...,...,...,...,...,...,...
1955,R108,829.971743,835.897877,45.001254,conf5,5,100,R108-100-5,827.348812,3.170284e-03,1.033308e-02
1956,RC108,970.913076,976.832694,45.001068,conf5,5,100,RC108-100-5,965.558890,5.545168e-03,1.167594e-02
1957,R203,841.182047,842.478638,45.001329,conf5,5,100,R203-100-5,840.068565,1.325465e-03,2.868900e-03
1958,RC104,975.168175,983.841639,45.001453,conf5,5,100,RC104-100-5,971.926961,3.334832e-03,1.225882e-02
1959,R104,840.187250,842.918453,45.001276,conf5,5,100,R104-100-5,832.558837,9.162611e-03,1.244310e-02

In [142]:
df_bks[["nombre_experimento", "Q", "min", "gap_min", "gap_avg"]].groupby(["nombre_experimento", "Q"]).mean().unstack()

                           min                                      \
Q                        5           10          15          20
nombre_experimento
conf1               905.280015  684.603564  626.863646  603.485456
conf1.1             903.030675  684.324932  626.391270  603.442306
conf1.2             903.102537  684.467209  626.198649  603.241374
conf2               905.367803  684.944308  626.782472  603.540767
conf3               905.503823  684.829937  626.677410  603.532245
conf4               905.033783  685.044073  626.731908  603.550832
conf5               906.335997  684.789619  626.935401  603.664701

                                 gap_min                                \
Q                        10000     5         10        15        20
nombre_experimento
conf1               577.457940  0.004916  0.001995  0.002040  0.001302
conf1.1             576.985792  0.002452  0.001694  0.001158  0.001223
conf1.2             577.171754  0.002502  0.001927  0.000855  0.000900
conf2               577.774668  0.005027  0.002525  0.001938  0.001393
conf3               577.614503  0.005167  0.002398  0.001710  0.001380
conf4               577.467143  0.004677  0.002670  0.001812  0.001415
conf5               577.475465  0.006049  0.002299  0.002183  0.001583

                               gap_avg
Q                      10000     5         10        15        20        10000
nombre_experimento
conf1               0.001455  0.008456  0.004096  0.002775  0.002149  0.002415
conf1.1             0.000590  0.005396  0.003581  0.001964  0.001586  0.001441
conf1.2             0.000885  0.005093  0.003960  0.002157  0.001751  0.001416
conf2               0.001975  0.008593  0.004537  0.002724  0.002144  0.002909
conf3               0.001720  0.008582  0.004565  0.002665  0.002176  0.002766
conf4               0.001440  0.008388  0.004627  0.002669  0.002102  0.002591
conf5               0.001500  0.009116  0.004604  0.002793  0.002224  0.002408