In [1]:
import pandas as pd
import os
import scipy.stats as stats

In [2]:
carpetas = ['GUROBI','CPLEX','MLM','ESGH','LPDH','Configuraciones v2']

In [3]:
gur = []
mlm = []
esgh = []
lpdh = []
cplex = []
configuraciones = []

for c in carpetas:
    archivos = os.listdir(c)
    for ar in archivos: 
        # print(sorted(ar.rstrip(".xlsx").split("_")))
        tiempo, solver, capacidad, nodos  = sorted(ar.rstrip(".xlsx").split("_"))
        tiempo = int(tiempo)
        capacidad = int(capacidad[1:])
        nodos = int(nodos[1:])
        datos = pd.read_excel(f"{c}/{ar}")
        datos["Q"] = capacidad
        datos["nodos"] = nodos
        datos["tiempos"] = tiempo
        if solver == "GUROBI":
            gur.append(datos)
        if solver == "CPLEX":
            cplex.append(datos)
        elif solver == "MLM":
            mlm.append(datos)
        elif solver == "ESGH":
            esgh.append(datos)
        elif solver == "LPDH":
            lpdh.append(datos)
        elif solver in ["Conf1", "Conf2", "Conf3", "Conf4","Conf5"]:
            datos["version"] = "configuracion" + solver[-1]
            configuraciones.append(datos)
        else: pass
        
gurobis = pd.concat(gur)
cplexs  = pd.concat(cplex)
mlms    = pd.concat(mlm)
esghs   = pd.concat(esgh)
lpdhs   = pd.concat(lpdh)
configuraciones   = pd.concat(configuraciones)

In [4]:
gurobis[["LB","UB"]] = gurobis[["LB","UB"]].round(2)
cplexs[["LB","UB"]] = cplexs[["LB","UB"]].round(2)
mlms[["min", "avg"]] = mlms[["min", "avg"]].round(2)
configuraciones[["min", "avg"]] = configuraciones[["min", "avg"]].round(2)

In [5]:
bks = pd.concat((
    mlms.groupby(["name", "Q", "nodos"]).agg(bks = ("min", "min")).reset_index(), 
    gurobis.groupby(["name", "Q", "nodos"]).agg(bks = ("UB", "min")).reset_index(),
    cplexs.groupby(["name", "Q", "nodos"]).agg(bks = ("UB", "min")).reset_index(),
    esghs.groupby(["name", "Q", "nodos"]).agg(bks = ("cost", "min")).reset_index(),
    lpdhs.groupby(["name", "Q", "nodos"]).agg(bks = ("cost", "min")).reset_index(),
    configuraciones.groupby(["name", "Q", "nodos"]).agg(bks = ("min", "min")).reset_index(),
))

bks = bks.groupby(["name", "Q", "nodos"]).agg(bks = ("bks", "min")).reset_index()

gurobis = gurobis.merge(bks, on = ["name", "Q", "nodos"])
cplexs  = cplexs.merge(bks, on = ["name", "Q", "nodos"] )
mlms    = mlms.merge(bks, on = ["name", "Q", "nodos"])
esghs   = esghs.merge(bks, on = ["name", "Q", "nodos"])
lpdhs   = lpdhs.merge(bks, on = ["name", "Q", "nodos"])
configuraciones = configuraciones.merge(bks, on = ["name", "Q", "nodos"])

In [6]:
gurobis["best"] = gurobis["UB"]
cplexs["best"] = cplexs["UB"]
mlms["best"] = mlms["min"]
configuraciones["best"] = configuraciones["min"]
lpdhs["best"] = lpdhs["cost"]
esghs["best"] = esghs["cost"]

gurobis["gap_best"]    = (gurobis["UB"] - gurobis["bks"]) / gurobis["bks"]
cplexs["gap_best"]     = (cplexs["UB"] - cplexs["bks"]) / cplexs["bks"]
mlms["gap_best"]       = (mlms["min"] - mlms["bks"]) / mlms["bks"]
mlms["gap_avg"]        = (mlms["avg"] - mlms["bks"]) / mlms["bks"]
configuraciones["gap_best"]  = (configuraciones["min"] - configuraciones["bks"]) / configuraciones["bks"]
configuraciones["gap_avg"]   = (configuraciones["avg"] - configuraciones["bks"]) / configuraciones["bks"]
lpdhs["gap"]           = (lpdhs["cost"] - lpdhs["bks"]) / lpdhs["bks"]
esghs["gap"]           = (esghs["cost"] - esghs["bks"]) / esghs["bks"]

gurobis["hit"]      =( gurobis["best"] - gurobis["bks"]).apply(lambda x: 1 if x == 0 else 0) 
mlms["hit"]         =( mlms["best"] - mlms["bks"]).apply(lambda x: 1 if x == 0 else 0) 
configuraciones["hit"]    =( configuraciones["best"] - configuraciones["bks"]).apply(lambda x: 1 if x == 0 else 0) 
lpdhs["hit"]        =( lpdhs["best"] - lpdhs["bks"]).apply(lambda x: 1 if x == 0 else 0) 
esghs["hit"]        =( esghs["best"] - esghs["bks"]).apply(lambda x: 1 if x == 0 else 0)

In [15]:
gurobis

,name,LB,UB,gap,t,Q,nodos,tiempos,bks,best,gap_best,hit
0,rc2_2_10,1506.65,1671.33,0.098532,120.009037,10,150,120,1651.44,1671.33,0.012044,0
1,rc2_2_10,1526.39,1671.33,0.086721,180.007161,10,150,180,1651.44,1671.33,0.012044,0
2,rc2_2_10,1545.69,1651.44,0.064031,3600.007883,10,150,3600,1651.44,1651.44,0.000000,1
3,rc2_2_10,1522.24,1667.91,0.087333,60.006408,10,150,60,1651.44,1667.91,0.009973,0
4,r2_2_6,1568.26,1722.10,0.089332,120.108558,10,150,120,1693.25,1722.10,0.017038,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2955,R203,807.95,842.62,0.041145,60.004840,5,100,60,830.64,842.62,0.014423,0
2956,RC104,940.12,952.69,0.013194,3600.564430,5,100,3600,952.69,952.69,0.000000,1
2957,RC104,917.69,962.51,0.046563,60.013940,5,100,60,952.69,962.51,0.010308,0
2958,R104,801.02,819.58,0.022651,3600.008063,5,100,3600,819.58,819.58,0.000000,1
2959,R104,792.89,839.18,0.055166,60.002320,5,100,60,819.58,839.18,0.023915,0

In [18]:
gurobis_versiones

,name,LB,UB,gap,t,Q,nodos,tiempos,bks,best,gap_best,hit,version
3,rc2_2_10,1522.24,1667.91,0.087333,60.006408,10,150,60,1651.44,1667.91,0.009973,0,gurobi 60
7,r2_2_6,1577.10,1716.29,0.081096,60.006843,10,150,60,1693.25,1716.29,0.013607,0,gurobi 60
11,rc1_2_5,1610.06,1744.78,0.077210,60.311912,10,150,60,1703.20,1744.78,0.024413,0,gurobi 60
15,c1_2_2,1245.42,1395.57,0.107594,61.148333,10,150,60,1337.86,1395.57,0.043136,0,gurobi 60
19,r2_2_8,1436.64,1592.26,0.097732,60.008348,10,150,60,1578.57,1592.26,0.008672,0,gurobi 60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2063,rc1_2_4,1240.32,1734.34,0.284845,60.035529,20,200,60,1449.11,1734.34,0.196831,0,gurobi 60
2067,rc2_2_3,1306.38,1809.30,0.277961,60.025515,20,200,60,1531.91,1809.30,0.181075,0,gurobi 60
2071,r2_2_5,1777.22,1839.79,0.034013,60.013039,20,200,60,1828.81,1839.79,0.006004,0,gurobi 60
2075,r1_2_6,1600.01,1810.37,0.116201,60.024595,20,200,60,1788.86,1810.37,0.012024,0,gurobi 60
2079,rc2_2_8,1450.22,1687.38,0.140547,60.025989,20,200,60,1612.26,1687.38,0.046593,0,gurobi 60

In [24]:
mlms_versiones = mlms[(mlms.tiempos == 60) & (mlms.nodos >= 100)]
mlms_versiones.loc[:,"version"] = "mlm"

gurobis_versiones = gurobis[(gurobis.tiempos == 60) & (gurobis.nodos >= 100)]
gurobis_versiones.loc[:,"version"] = "gurobi60"
gurobis_versiones.loc[:,"t_avg"]   = gurobis_versiones.loc[:,"t"]
gurobis_versiones.loc[:,"gap_avg"]   = gurobis_versiones.loc[:,"gap_best"]

versiones2 = pd.concat((configuraciones , mlms_versiones, gurobis_versiones))
tabla_versiones = versiones2.groupby(["version"]).agg(gap_best  = ("gap_best", "mean"),
                                   gap_avg  =  ("gap_avg", "mean"),
                                   avg_time =  ("t_avg", "mean"),
                                   hit_sum  =  ("hit", "sum")).reset_index()

# tabla_versiones.sort_values(["nodos","version"]).set_index(["nodos", "version"])
tabla_versiones

C:\Users\rablo\AppData\Local\Temp\ipykernel_21232\3784026585.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mlms_versiones.loc[:,"version"] = "mlm"
C:\Users\rablo\AppData\Local\Temp\ipykernel_21232\3784026585.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gurobis_versiones.loc[:,"version"] = "gurobi60"
C:\Users\rablo\AppData\Local\Temp\ipykernel_21232\3784026585.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gurobis_versiones.loc[:,"t_avg"]   = gurobis_versiones.loc[:,"t"]
C:\Users\rablo\AppData\Local\Temp\ipykernel_21232\3784026585.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gurobis_versiones.loc[:,"gap_avg"]   = gurobis_versiones.loc[:,"gap_best"]

          version  gap_best   gap_avg   avg_time  hit_sum
0  configuracion1  0.019637  0.031499  57.523142      162
1  configuracion2  0.020479  0.032576  57.520317      164
2  configuracion3  0.020095  0.031912  57.523407      158
3  configuracion4  0.019816  0.031570  57.475119      161
4  configuracion5  0.020038  0.032874  58.037029      138
5        gurobi60  0.047760  0.047760  56.064903      154
6             mlm  0.022471  0.035302  57.311257      199

In [8]:
bks["name"] = bks["name"].str.upper()
bks["fullname"] = bks["name"] + "-" + bks["Q"].astype("str") + "-" + bks["nodos"].astype("str") 
dict_bks = dict()
for i, row in bks.iterrows():
    dict_bks[row["fullname"]] = row["bks"]

In [9]:
import json
with open('bks.json', 'w') as f:
    json.dump(dict_bks, f)

In [10]:
#name = "C101-10-100"
#with open("bks.json","r") as f:
#    bks = json.loads(f.read())[name]
#

In [11]:
bks

        name     Q  nodos      bks          fullname
0       C101     5    100   829.32        C101-5-100
1       C101    10    100   563.37       C101-10-100
2       C101    15    100   528.28       C101-15-100
3       C101    20    100   489.00       C101-20-100
4       C101  1000    100   466.52     C101-1000-100
..       ...   ...    ...      ...               ...
875  RC2_2_9    15    200  1757.01    RC2_2_9-15-200
876  RC2_2_9    20    150  1335.58    RC2_2_9-20-150
877  RC2_2_9    20    200  1616.80    RC2_2_9-20-200
878  RC2_2_9  1000    150  1175.83  RC2_2_9-1000-150
879  RC2_2_9  1000    200  1333.37  RC2_2_9-1000-200

[880 rows x 5 columns]

In [12]:
mlms[(mlms.nodos == 100) & (mlms.Q >=20)].sort_values("gap_best", ascending = False).head(50)

,name,min,avg,t_avg,Q,nodos,tiempos,bks,best,gap_best,gap_avg,hit
2010,RC103,638.95,645.80,60.095336,20,100,60,633.32,638.95,0.008890,0.019706,0
1986,R206,633.57,635.50,60.000477,20,100,60,628.24,633.57,0.008484,0.011556,0
1842,RC103,611.40,614.29,60.063292,1000,100,60,606.71,611.40,0.007730,0.012494,0
2021,R203,623.34,627.89,60.000455,20,100,60,619.16,623.34,0.006751,0.014100,0
1996,R111,613.49,613.49,60.077301,20,100,60,609.49,613.49,0.006563,0.006563,0
1982,RC107,631.45,631.45,60.051127,20,100,60,627.94,631.45,0.005590,0.005590,0
2001,R106,656.46,658.00,60.013287,20,100,60,653.42,656.46,0.004652,0.007009,0
2017,C204,545.12,545.24,60.030675,20,100,60,543.04,545.12,0.003830,0.004051,0
2023,R104,596.23,596.23,60.045986,20,100,60,594.43,596.23,0.003028,0.003028,0
2013,R107,622.04,629.71,60.000596,20,100,60,620.36,622.04,0.002708,0.015072,0
1975,R204,592.60,593.44,60.086157,20,100,60,591.14,592.60,0.002470,0.003891,0
2020,RC108,594.24,595.98,60.053657,20,100,60,592.82,594.24,0.002395,0.005330,0
2007,R112,582.31,582.31,60.062315,20,100,60,580.92,582.31,0.002393,0.002393,0
1827,R210,603.03,603.18,60.050111,1000,100,60,601.67,603.03,0.002260,0.002510,0
1845,R107,604.44,611.17,60.051301,1000,100,60,603.25,604.44,0.001973,0.013129,0
1838,R211,566.33,566.33,60.075974,1000,100,60,565.40,566.33,0.001645,0.001645,0
2014,R202,656.88,659.41,60.030842,20,100,60,656.55,656.88,0.000503,0.004356,0
2011,C203,549.01,549.01,60.092007,20,100,60,548.80,549.01,0.000383,0.000383,0
1995,R210,624.99,625.16,60.041990,20,100,60,624.78,624.99,0.000336,0.000608,0
1851,R108,575.32,575.32,60.049769,1000,100,60,575.17,575.32,0.000261,0.000261,0
2008,RC102,666.16,669.39,60.084067,20,100,60,666.00,666.16,0.000240,0.005090,0
2019,R108,590.97,590.97,60.076675,20,100,60,590.97,590.97,0.000000,0.000000,1
1985,R110,599.39,602.03,60.026532,20,100,60,599.39,599.39,0.000000,0.004404,1
1987,C201,567.41,567.41,60.037953,20,100,60,567.41,567.41,0.000000,0.000000,1
1984,C108,470.46,470.46,60.078964,20,100,60,470.46,470.46,0.000000,0.000000,1
1983,C207,544.99,544.99,60.069679,20,100,60,544.99,544.99,0.000000,0.000000,1
2015,R103,632.33,634.86,60.015672,20,100,60,632.33,632.33,0.000000,0.004001,1
2022,RC104,595.60,596.33,60.047399,20,100,60,595.60,595.60,0.000000,0.001226,1
1981,RC106,644.49,650.71,60.014036,20,100,60,644.49,644.49,0.000000,0.009651,1
1988,C102,476.13,476.13,60.050334,20,100,60,476.13,476.13,0.000000,0.000000,1
1979,C101,489.00,489.00,20.000000,20,100,60,489.00,489.00,0.000000,0.000000,1
1978,R205,642.89,642.89,60.031961,20,100,60,642.89,642.89,0.000000,0.000000,1
1977,C107,481.14,481.14,60.038351,20,100,60,481.14,481.14,0.000000,0.000000,1
1976,C206,559.01,559.56,60.059639,20,100,60,559.01,559.01,0.000000,0.000984,1
1974,R109,618.38,618.38,60.082654,20,100,60,618.38,618.38,0.000000,0.000000,1
1973,C106,482.33,482.33,20.000000,20,100,60,482.33,482.33,0.000000,0.000000,1
1980,RC105,687.70,688.63,60.069349,20,100,60,687.70,687.70,0.000000,0.001352,1
1992,RC202,669.44,670.06,60.058559,20,100,60,669.44,669.44,0.000000,0.000926,1
1989,RC203,627.63,628.24,60.051707,20,100,60,627.63,627.63,0.000000,0.000972,1
1990,R105,698.90,698.90,20.000000,20,100,60,698.90,698.90,0.000000,0.000000,1
2012,C104,449.61,449.61,60.052969,20,100,60,449.61,449.61,0.000000,0.000000,1
2016,R209,608.46,608.71,60.091500,20,100,60,608.46,608.46,0.000000,0.000411,1
2009,R208,588.49,588.49,60.048488,20,100,60,588.49,588.49,0.000000,0.000000,1
2006,R211,582.12,584.56,60.016841,20,100,60,582.12,582.12,0.000000,0.004192,1
2005,RC101,721.21,721.22,60.072136,20,100,60,721.21,721.21,0.000000,0.000014,1
2004,RC208,587.84,591.28,60.079546,20,100,60,587.84,587.84,0.000000,0.005852,1
2003,R102,695.34,697.21,60.013614,20,100,60,695.34,695.34,0.000000,0.002689,1
2002,R201,699.96,699.96,20.000000,20,100,60,699.96,699.96,0.000000,0.000000,1
2018,C105,482.95,482.95,20.000000,20,100,60,482.95,482.95,0.000000,0.000000,1
2000,RC205,679.64,679.64,60.076694,20,100,60,679.64,679.64,0.000000,0.000000,1

In [13]:
versiones[(versiones.nodos == 150) & (versiones.version == "Version4")].sort_values("gap_avg", ascending = False).head(50)

NameError: name 'versiones' is not defined